<table>
  <% book.book_comments.each do |book_comment| %>
  <tr>
    <td>
      <p><%= image_tag book_comment.user.get_profile_image(50,50) %></p>
      <%= book_comment.user.name %>
    </td>
    <td>
      <%= book_comment.comment %>
    </td>
    <td>
      <% if book_comment.user == current_user %><!--コメントした本人しか削除できないようにする-->
        <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, class: "btn btn-sm btn-danger", remote: true %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
<!--非同期通信化にあたりlink_toメソッドにremote: trueを追加-->